:root {
    --yellow: rgb(255, 217, 0);
    --bg-black: rgba(0, 0, 0, 0.5);
}

@font-face {
    font-family: 'Starjout';
    src: url('../fonts/starjout/Starjout.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/stars-wars-wallpaper.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-black);
}