@import url(global.css);
@import url(header.css);
@import url(search.css);

main {
    display: flex;
    justify-content: center;
}

.planets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.planets-header h2 {
    padding: 20px;
    color: #fff;
    font-size: 2rem;
}

.planet-icon {
    width: 50px;
    height: 50px;
}

#planets-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
}

#planets-buttons button {
    width: 120px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: var(--box-shdw-light);
    background-color: var(--yellow);
    color: #000000;
    font-weight: 900;
}

#planets-buttons button:hover {
    transform: scale(1.1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 50px;
}

.planets-header {
    width: 87%;
    min-width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.planet-icon-container {
    display: flex;
    align-items: center;
}

#loading-gif {
    margin-top: 25px;
    background-color: var(--bg-black);
    padding: 25px 65%;
    border-radius: 5px;
}